@mixin respond($breakpoint) {
    @if($breakpoint == phone){
        @media (max-width: 600px) {
            @content
        };
    }
}

@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}
@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}