// Primary color
$color-primary:#2511dbc9;
$color-primary-light:#66ccff;
$color-primary-dark:#5643fa;

// Secondary color
$color-secondary:#50c2f7;
$color-secondary-light:#4896ef;
$color-secondary-dark:#2f6098;

// White and Black
$color-white:#edf2f4;
$color-black:#2b2d42;

// Grey shades
$color-grey:#6c757d;
$color-grey-light-1:#adb5bd;
$color-grey-light-2:#ced4da;
$color-grey-dark-1:#495057;
$color-grey-dark-2:#343a40;


// Font
$font-default:1.6rem;

$color-violet-light: #d9c5e6;
$color-violet-dark: #7d13be;  

$color-lap-light-blue:#d4ebf7;
$color-lap-dark-blue:#0a1396;
$color-lap-last-blue: #0897e9;
$color-clock-blue: #b7e2f8;







