.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features{
    padding: 20rem 0;
    background-image:linear-gradient(to right bottom,
   rgba($color-primary, 0.8),
   rgba($color-secondary, 0.8)),
     url(../img/nat-4.jpg);
     background-size: cover;
     margin-top: -10rem;

     transform: skewY(7deg);
     & > *{  //direct universal child selector
        transform: skewY(-7deg);
     } 
}

.section-tours{
    background-color: $color-grey-light-1;
    padding: 25rem 0 50rem 0;
    margin-top: -10rem;

}