
//COLORS
$color-primary: #2511dbc9; //Dark Blue
$color-secondary: #28b4adcb; //Greenish Blue
$color-tertiary: #66ccff;//Light Blue

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2:#eee;

//card-1
$color-yellow-light: #ffb900;
$color-orange-light: #ff7730;
$color-purple-light:rgb(101, 34, 156);


//card-2
$color-light-blue: #2998ff;
$color-dark-blue: #5643fa; 

//card-3
$color-light-green: #7ed56f;
$color-dark-green: #28b485;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
