/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

*{    /*universal selector */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* change box model so that padding and borders are not added to the height and width */

}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;

}

.header {
    height: 95vh; /*95% of viewport height */
    background-image:linear-gradient(to right bottom, 
    #2511dbc9,#28b4adcb),
     url(../img/hero.jpg);
    background-size: cover;  /*this will try to fit in the element inside the box irrespective of viewport */
    background-position: top;
    position: relative;

    clip-path: polygon(0 0 ,100% 0,100% 100%,0 80%);

}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo { 
    height: 45px;
}
.logo:hover {
    animation: moveInRight 1s ease-out;
}
.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.heading-primary{
    color: #fff;
    text-transform: uppercase;

   backface-visibility: hidden;   /*property defines whether or not the back face of an element should be visible when facing the user. */
    
}

.heading-primary-main{
     display: block; /*auto line-break on both ends */
    font-size: 60px;
    font-weight: 400;
    letter-spacing:  35px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    /* animation-delay: 1s; */
    /* animation-iteration-count: 3;  No of times the animation will occur*/
    animation-timing-function: ease-out;
}

.heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 18px;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}